body {
    background: #1D4350;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#inside {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

#header {
    opacity: 0.5;
    width: 100%;
    height: auto;
}

#render {
    overflow: auto;
    text-align: center;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 14px sans-serif;
    fill: white;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4.5px;
}

.link text {
    font: 10px sans-serif;
}