#render {
    overflow: auto;
    text-align: center;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 14px sans-serif;
    fill: white;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4.5px;
}

.link text {
    font: 10px sans-serif;
}